* {
    height: auto;
    padding: auto;
    margin: 0;
}

.box {
    justify-content: center;
    padding: 12px;
    height: 70px;
    width: 100%;
    background: black;

}
.container{
    
    border-radius: 15px;
    margin: 50px ;
    padding: 20px;
    height: 750px;
    box-shadow: 0px 0px 15px black;
}
.input {
    display: flex;
    text-align: center;

}

.input p {
    margin-left: 30px;
    float: left;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

.input p:hover {
    color: orange;
    transition: 1.0s;
    
}

.col img {
    
    height: 320px;
    width: 420px;
    margin-top: 30px;
}
img{
    cursor: pointer;
    box-shadow: 0px 0px 15px black;
    padding: auto;
}
.col #img3 {
    height: 320px;
    width: 420px;
    margin-top: 30px;
}
